* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --navHeight: 4rem;
}
.navbar {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
  background-color: rgb(235, 234, 234);
}
.heading {
  margin-left: 5rem;
  font-size: 40px;
}
.navLinks {
  width: 40%;
  height: var(--navHeight);
  display: flex;
  margin: 0 !important;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.application {
  height: calc(100vh - var(--navHeight));
  width: 100%;
  display: flex;
}

.leftSection {
  background-color: rgb(235, 234, 234);
  width: 70vw;
  height: calc(100vh - var(--navHeight));
}

.preview {
  position: relative;
  background-color: rgb(229, 209, 209);
  width: 30vw;
  height: calc(100vh - var(--navHeight));
}
.container {
  height: 45rem;
  width: 100%;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}

#editing,
#highlighting {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  width: 100%;

  border: 0;

  height: 45rem;
}

#editing,
#highlighting,
#highlighting * {
  /* Also add text styles to highlighting tokens */
  font-size: 15pt;
  font-family: monospace;
  line-height: 20pt;
}

#editing,
#highlighting {
  position: absolute;
  top: 0;
  left: 0;
}

#editing {
  z-index: 1;
  resize: none;
}

#highlighting {
  z-index: 0;
}

#editing {
  color: transparent;
  background: transparent;
  caret-color: white; /* Or choose your favorite color */
}

pre {
  width: 100%;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.preview-button {
  position: absolute;
  left: 0;
  height: calc(100vh - var(--navHeight));
  width: 0.3rem;
  background-color: black;
}
